# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/suppy/node_modules
/suppy/.pnp
/suppy/.pnp.js

# testing
/suppy/coverage

# next.js
/suppy/.next/
/suppy/out/

# production
/suppy/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
/suppy/.env*.local

# vercel
/suppy/.vercel

# typescript
/suppy/*.tsbuildinfo
